.topNavigation {
	background-color: $black;
	padding: 2rem 0;
	margin-bottom: 8rem;
	ul {
		display: flex;
		align-items: center;
	}
	li {
		padding: 0 2rem;
	}
	.logo {
		width: 30%;
	}
}

h1 {
	text-align: center;
}