.topNavigation {
	background-color: $black;
	padding: 2rem 0;
	margin-bottom: 8rem;
	ul {
		display: flex;
		align-items: center;
	}
	li {
		padding: 0 2rem;
	}
	.logo {
		width: 30%;
	}
}

h1 {
	display: flex;
	justify-content: center;
}

h1 img {
	width: 30%;
}

.headline {
	display: flex;
	justify-content: center;
	margin: 2rem 0 8rem;
	p {
	width: 55%;
	text-align: center;
	}
}