	// index styles
.latestNews {
	padding: 2rem 0;
}

.latestNewsContent {
	display: flex;
	justify-content: space-evenly;
	.imageContainer {
		width: 40%;
		img {
			border: 0.2rem solid $black;
		}
	}
	.textContainer {
		width: 60%;
		height: 40rem;
		background-color: $grey;
		border: 0.2rem solid $black;
		padding: 0 2rem;
		.underline {
			border-bottom: 2px solid $blue;
		}
		
		h2 {
			background-color: $grey;
			padding-bottom: 2rem;
			position: absolute;
			width: 53%;
			padding: 3rem 0;			
		}
		.firstEntry {
			padding-top: 9rem;
		}		
		.entry {
			padding-bottom: 2rem;
		}
		p {
			padding: 1.5rem 0;
		}
	}
}

	// about styles

.aboutUs {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 8rem;
	.imageContainer {
		width: 40%;
		img {
			border: 0.2rem solid $black;
		}
	}
	.textContainer {
		width: 50%;
		p {
			padding-bottom: 1rem;
		}
		a {
			border-bottom: 2px solid $blue;
		}
		a:hover {
			border-bottom: 2px solid $darkBlue;

		}
	}
}

	// production styles

.tvProductions h3,
.filmProductions h3 {
	margin: 8rem 0 2rem 4rem;
	span {
		border-bottom: 0.2rem solid $blue;
	}
}


.tv,
.films {
	display: flex;
	justify-content: flex-start;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.tv li,
.films li {
	width: 21%;
	margin: 2rem;
}

.overlayContainer {
	position: relative;
	width: 50%;
}

.imagePoster {
	display: block;
	width: 100%;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: $grey;
}

.overlayContainer:hover .overlay {
	opacity: 0.95;
}

.text {
	width: 85%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	h5 {
		border-bottom: 2px solid $blue;
	}
	h5,
	p {
		padding: 1rem;
	}
	a {
		background-color: $blue;
		padding: 1rem 2rem;
		border-radius: 10px;
	}
	a:hover,
	a:focus {
		background-color: $lightBlue;
	}
}


	// contact styles

.contactMain {
	padding-top: 8rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	ul {
		padding-bottom: 2rem;
	}
	.address {
		li:first-child {
		padding: 2rem;
		}
	}
	.mapOuter {
		position: relative;
		text-align: right;
		height: 35rem;
		width: 45rem;
	}
	.gmapCanvas {
		overflow: hidden;
		background: none!important;
		height: 35rem;
		width: 45rem;
		border: 0.2rem solid $black;
	}
	a:hover,
	a:focus {
		border-bottom: 2px solid $blue;
	}
}

