// font-family: 'Bitter', serif;
// font-family: 'Raleway', sans-serif;

@import "./variables";

html {
	font-size: 62.5%;
}

body {
	font-size: 2rem;
	line-height: 3.2rem;
	font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Bitter', serif;
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 4rem;
}

.topNavigation ul li {
	color: $white;
	font-size: 2.2rem;
}

.topNavigation ul li:hover,
.topNavigation ul li:focus {
	text-decoration: underline 0.15rem $darkBlue;
}

.currentPage {
	color: $lightBlue;
}

.textContainer {
	h2 {
	color: $darkBlue;
	}
	h3 {
		font-size: 2.8rem;
	}
}

.date {
	font-size: 1.8rem;
	text-transform: uppercase;		
}

.tvProductions h3,
.filmProductions h3 {
	font-size: 3rem;
}

.text {
	color: $white;
	font-size: 2rem;
	h5 {
		font-size: 2.5rem;
	}
	a {
		color: $black;
	}
}

.contactMain {
	.address {
		li:first-child {
			font-size: 3rem;
		}
	}
	a {
		color: $darkBlue;
	}
}

.footerContents {
	.copyright {
			color: $white;
	}
	.socialMediaNavigation li {
			font-size: 3rem;
			color: $white;
	}
}

