@import "partials/setup";
@import "partials/typography";
@import "partials/variables";
@import "partials/header";
@import "partials/main";
@import "partials/footer";
@import "partials/mediaQueries";

body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

