html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Bitter', serif;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.5rem;
}

.topNavigation ul li {
  color: #FFFFFF;
  font-size: 2.2rem;
}

.topNavigation ul li:hover,
.topNavigation ul li:focus {
  -webkit-text-decoration: underline 0.15rem #074574;
          text-decoration: underline 0.15rem #074574;
}

.currentPage {
  color: #95c8ff;
}

.headline p {
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  font-size: 2rem;
}

.headline::before {
  content: "{";
  font-size: 7rem;
  font-family: 'Bitter';
  position: relative;
  top: 1rem;
  padding: 0 2rem;
}

.headline::after {
  content: "}";
  font-size: 7rem;
  font-family: 'Bitter';
  position: relative;
  top: 1rem;
  padding: 0 2rem;
}

.textContainer h3 {
  font-size: 2.8rem;
}

.date {
  font-size: 1.8rem;
  text-transform: uppercase;
}

.tvProductions h3,
.filmProductions h3 {
  font-size: 3rem;
}

.text {
  font-size: 2rem;
}

.text h5 {
  font-size: 2.5rem;
}

.text a {
  color: #000000;
}

.contactMain .address li:first-child {
  font-size: 3rem;
}

.contactMain a {
  color: #074574;
}

.footerContents .copyright {
  color: #FFFFFF;
}

.footerContents .socialMediaNavigation li {
  font-size: 3rem;
  color: #FFFFFF;
}

.topNavigation {
  background-color: #000000;
  padding: 2rem 0;
  margin-bottom: 8rem;
}

.topNavigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topNavigation li {
  padding: 0 2rem;
}

.topNavigation .logo {
  width: 30%;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

h1 img {
  width: 30%;
  height: auto;
}

.headline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2rem 0 8rem;
}

.headline p {
  width: 55%;
  text-align: center;
}

.latestNews {
  padding: 2rem 0;
}

.latestNewsContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.latestNewsContent .imageContainer {
  width: 40%;
}

.latestNewsContent .imageContainer img {
  border: 0.2rem solid #000000;
}

.latestNewsContent .textContainer {
  width: 60%;
  height: 40rem;
  background-color: #e5e4e4;
  border: 0.2rem solid #000000;
  padding: 0 2rem;
}

.latestNewsContent .textContainer .underline {
  border-bottom: 2px solid #95c8ff;
}

.latestNewsContent .textContainer h2 {
  background-color: #e5e4e4;
  padding-bottom: 2rem;
  position: absolute;
  width: 50%;
  padding: 3rem 0;
}

.latestNewsContent .textContainer .firstEntry {
  padding-top: 9rem;
}

.latestNewsContent .textContainer .entry {
  padding-bottom: 2rem;
}

.latestNewsContent .textContainer p {
  padding: 1.5rem 0;
}

.aboutUs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 8rem;
}

.aboutUs .imageContainer {
  width: 40%;
}

.aboutUs .imageContainer img {
  border: 0.2rem solid #000000;
}

.aboutUs .textContainer {
  width: 50%;
}

.aboutUs .textContainer p {
  padding-bottom: 1rem;
}

.aboutUs .textContainer a {
  border-bottom: 2px solid #95c8ff;
}

.aboutUs .textContainer a:hover {
  border-bottom: 2px solid #074574;
}

.tvProductions h3,
.filmProductions h3 {
  margin: 8rem 0 2rem 4rem;
}

.tvProductions h3 span,
.filmProductions h3 span {
  border-bottom: 0.2rem solid #95c8ff;
}

.tv,
.films {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tv li,
.films li {
  width: 21%;
  margin: 2rem;
}

.overlayContainer {
  position: relative;
  width: 50%;
}

.imagePoster {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  background-color: #e5e4e4;
}

.overlayContainer:hover .overlay {
  opacity: 0.95;
}

.text {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.text h5 {
  border-bottom: 2px solid #95c8ff;
}

.text h5,
.text p {
  padding: 1rem;
}

.text a {
  background-color: #95c8ff;
  padding: 1rem 2rem;
  border-radius: 10px;
}

.text a:hover,
.text a:focus {
  background-color: #cbdff4;
}

.contactMain {
  padding-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.contactMain ul {
  padding-bottom: 2rem;
}

.contactMain .address li:first-child {
  padding: 2rem;
}

.contactMain .mapOuter {
  position: relative;
  text-align: right;
  height: 35rem;
  width: 45rem;
}

.contactMain .gmapCanvas {
  overflow: hidden;
  background: none !important;
  height: 35rem;
  width: 45rem;
  border: 0.2rem solid #000000;
}

.contactMain a:hover,
.contactMain a:focus {
  border-bottom: 2px solid #95c8ff;
}

footer {
  background-color: #000000;
  padding: 2rem 0 0;
  margin-top: 20rem;
}

.footerContents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerContents .footerContainer {
  background-color: #cbdff4;
  border: 0.2rem solid #000000;
  width: 40%;
  margin-top: -15rem;
  position: relative;
}

.footerContents .footerContainer .socialMediaNavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2rem 0;
}

.footerContents .footerContainer .socialMediaNavigation li {
  border: 0.2rem solid #074574;
  border-radius: 50%;
  background-color: #074574;
  width: 5rem;
  height: 5rem;
  text-align: center;
  padding-top: 0.8rem;
}

.footerContents .footerContainer .socialMediaNavigation li:hover,
.footerContents .footerContainer .socialMediaNavigation li:focus {
  color: #074574;
  background-color: #FFFFFF;
}

.footerContents .logo2 {
  width: 50%;
  margin: 0 auto;
  padding: 2rem;
}

body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
